<div class="container page-container">
  <nav aria-label="breadcrumb primary">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Objetos", object_types_path, class: "link-body-emphasis text-decoration-none" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @object_type.name %>
      </li>
    </ol>
  </nav>

  <div class="d-flex align-items-center mb-3">
    <div class="p-2 flex-grow-1">
      <span class="main_heading"><%= t(".title") %> </span>
    </div>
    <div class="p-2">
      <%= link_to edit_object_type_path(@object_type),
                  class: "btn btn-outline-dark" do %>
        <i class="bi bi-pencil icon"></i>
        <span>Editar</span>
      <% end %>
    </div>
    <div class="ps-2">
      <%= button_to " Eliminar", @object_type,
                    method: :delete,
                    class: "btn btn-danger bi bi-trash",
                    form: { data: { turbo_confirm: "¿Estás de que quieres eliminar este material?" } } %>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <dl id="<%= dom_id @object_type %>" class="row">
      <dt class="record-title col-sm-3" > <%= Material.human_attribute_name("name") %>:</dt>
      <dd class="col-sm-9"><%= @object_type.name %> </dd>
      <dt class="record-title col-sm-3"><%= t(".pieces") %>:</dt>
      <dd class="col-sm-9"> <%= @object_type.pieces.count %> </dd>
    </dl>
  </div>
</div>
