<div class="header">
  <p>Nueva Solicitud de Registro</p>
</div>

<div class="content">
  <p>Hola,</p>
  <p>Le informamos que ha recibido una nueva solicitud de registro para el museo
    "<%= @museum_name %>".
  <ul>
    <li>Encargado del museo: <%= @full_name %> (<%= @email %>)</li>
    <li>Solicitud creada por:
      <% if @created_by %>
        <%= @created_by.first_name %> <%= @created_by.last_name %> (<%= @created_by.email %>)
      <% else %>
        anónimo.
      <% end %>
    </li>
  </ul>

  <p>Ingrese al sistema para ver más detalles.</p>
  <p>Saludos cordiales,<br> El equipo de <%= t("global.menu.app_name") %></p>
</div>