<%= form_with(model: [@museum, piece_collection], class: "row gx-3 gy-2 align-items-center") do |form| %>
  <% if piece_collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piece_collection.errors.count, "error") %> prohibited this piece_collection from being
        saved:</h2>

      <ul>
        <% piece_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :name, class: "visually-hidden" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nombre" %>
  </div>

  <div class="col text-end">
    <%= form.submit class: "btn btn-sm btn-outline-secondary" %>
  </div>
<% end %>