<%= form_with(model: piece_collection) do |form| %>
  <% if piece_collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piece_collection.errors.count, "error") %> prohibited this piece_collection from being saved:</h2>

      <ul>
        <% piece_collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :museum_id, style: "display: block" %>
    <%= form.text_field :museum_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
