<div class="row">
  <%= form_with(model: [@museum, piece_collection]) do |form| %>
    <% if piece_collection.errors.any? %>
      <%= render "layouts/validation_errors", errors_list: piece_collection.errors %>
    <% end %>

    <div class="col-sm-6 mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", placeholder: "Nombre" %>
    </div>

    <div class=" col-sm-6 mb-3">
      <div class="form-check form-switch">
        <%= form.check_box :is_temporary, class: "form-check-input", role: "switch" %>
        <%= form.label :is_temporary, class: "form-check-label" %>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div class="col-sm-6 my-3">
      <%= form.label :status, class: "form-label" %>
      <div class="form-check">
        <%= form.radio_button :status, PieceCollection::NOT_PUBLISHED, { checked: piece_collection.hidden?, class: "form-check-input" } %>
        <%= form.label t("activerecord.attributes.piece_collection.statuses.hidden"), class: "form-check-label" %>
      </div>

      <div class="form-check">
        <%= form.radio_button :status, PieceCollection::PUBLISHED, { checked: piece_collection.published?, class: "form-check-input" } %>
        <%= form.label t("activerecord.attributes.piece_collection.statuses.published"), class: "form-check-label" %>
      </div>
    </div>

    <div class="col-sm-6 mb-3">
      <%= form.submit class: "btn btn-outline-dark" %>
      <% back_path = back_to_collection ? piece_collection : @museum %>
      <%= link_to t("piece_collections.show.cancel"), back_path, class: "link-body-emphasis px-3" %>
    </div>
  <% end %>
</div>