<% owner_or_admin = current_user && current_user.admin_or_museum_owner?(piece_collection.museum) %>

<tr id="<%= dom_id piece_collection %>">
  <td>
    <%= link_to piece_collection.name,
                piece_collection_path(piece_collection),
                class: "link-primary" %>
  </td>
  <td>
    <i class="icon icon_<%= piece_collection.status %>"></i>
    <span>
      <%= t("activerecord.attributes.piece_collection.statuses.#{piece_collection.status}") %>
    </span>
  </td>
  <td> <%= piece_collection.is_temporary ? "Sí" : "No" %></td>
  <td> <%= piece_collection.published_pieces_count%></td>
  <td> <%= piece_collection.pieces_count %></td>
  <td>
    <% if piece_collection.updated_at %>
      <%= l(piece_collection.updated_at) %>
    <% end %>
  </td>
  <td>
    <div class="btn-group">
      <% if owner_or_admin %>
        <% if piece_collection.published? %>
          <%= button_to t("piece_collections.show.make_private"),
                        update_status_piece_collection_path(piece_collection, status: PieceCollection::NOT_PUBLISHED),
                        method: :patch,
                        form: { data: { turbo_confirm: "Estas seguro?" } },
                        class: "btn btn-outline-dark btn-sm bi bi-lock" %>
        <% else %>
          <%= button_to t("piece_collections.show.make_public"),
                        update_status_piece_collection_path(piece_collection, status: PieceCollection::PUBLISHED),
                        method: :patch,
                        form: { data: { turbo_confirm: "Estas seguro?" } },
                        class: "btn btn-outline-dark btn-sm bi bi-unlock" %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>