<% owner_or_admin = current_user && current_user.admin_or_museum_owner?(@piece_collection.museum) %>

<div class="container page-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Museos", museums_path, class: "link-body-emphasis text-decoration-none" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @piece_collection.museum.name, museum_path(@piece_collection.museum_id), class: "link-body-emphasis text-decoration-none" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @piece_collection.name %>
      </li>
    </ol>
  </nav>

  <section class="page-info-section">
    <div class="d-flex flex-column align-items-center">
      <div class="main_heading" id="<%= dom_id @piece_collection %>">
        <%= @piece_collection.name %>
      </div>
      <% if owner_or_admin %>
        <div class="btn-group pb-4" role="group" aria-label="Actions">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon icon_<%= @piece_collection.status %>"></i>
              <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= t(".tooltip_status_change") %>"> <%= t("activerecord.attributes.piece_collection.statuses.#{@piece_collection.status}") %></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <% if @piece_collection.published? %>
                  <%= button_to t(".make_private"),
                                update_status_piece_collection_path(@piece_collection, status: PieceCollection::NOT_PUBLISHED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn border-0 bi bi-lock link-body-emphasis" %>
                <% else %>
                  <%= button_to t(".make_public"),
                                update_status_piece_collection_path(@piece_collection, status: PieceCollection::PUBLISHED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn border-0 bi bi-unlock link-body-emphasis" %>

                <% end %>
              </li>
              <% unless @piece_collection.archived? && admin %>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <%= button_to t(".archive"),
                                update_status_piece_collection_path(@piece_collection, status: PieceCollection::ARCHIVED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn border-0 bi bi-archive link-danger" %>
              <% end %>
              </li>
            </ul>
          </div>
          <%= link_to edit_piece_collection_path(@piece_collection), class: "btn btn-outline-dark" do %>
            <i class="bi bi-pencil icon"></i>
            <span><%= t(".edit_collection") %></span>
          <% end %>
        </div>
      <% end %>
      <div class="text-light-emphasis">
        <% if @piece_collection.is_temporary %>
          <i class="bi bi-clock icon"></i>
          <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= t(".tooltip_temporary") %>">
            <%= t(".temporary") %>
            </span>
        <% else %>
          <i class="bi bi-infinity icon"></i>
          <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="<%= t(".tooltip_permanent") %>">
            <%= t(".permanent") %>
            </span>
        <% end %>
      </div>
      <div class="description-box">
        <p>
          <%= @piece_collection.description %>
        </p>
      </div>
    </div>
  </section>

  <section class="page-table-section">
    <% if owner_or_admin %>
      <div class="row data-table-section-start">
        <div class="col"><h4><%= Piece.model_name.human(count: 2) %></h4></div>
        <div class="col text-end">
          <%= link_to "Agregar Pieza",
                      new_piece_collection_piece_path(@piece_collection),
                      class: "btn btn-primary cta" %>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead class="table align-middle">
          <tr>
            <th scope="col"> <%= Piece.human_attribute_name("name") %> </th>
            <th scope="col"> <%= Piece.human_attribute_name("number") %> </th>
            <th scope="col"> <%= Piece.human_attribute_name("status") %> </th>
            <th scope="col"> <%= Piece.human_attribute_name("updated_at") %> </th>
            <th scope="col"> <%= t(".actions") %> </th>
          </tr>
          </thead>
          <tbody class="align-middle" id="collections_table">
          <% @pieces.each do |piece| %>
            <tr id="<%= dom_id piece %>">
              <td>
                <%= link_to piece.name,
                            piece_path(piece),
                            class: "link-primary" %>
              </td>
              <td> <%= piece.number %></td>
              <td>
                <i class="icon icon_<%= piece.status %>"> </i>
                <span>
                <%= t("activerecord.attributes.piece.statuses.#{piece.status}") %>
              </span>
              </td>
              <td>
                <% if piece.updated_at %>
                  <%= l(piece.updated_at) %>
                <% end %>
              </td>
              <td>
                <% if piece.published? %>
                  <%= button_to t("pieces.show.make_private"),
                                update_status_piece_path(piece, status: Piece::NOT_PUBLISHED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn btn-outline-dark btn-sm bi bi-lock" %>
                <% else %>
                  <%= button_to t("pieces.show.make_public"),
                                update_status_piece_path(piece, status: Piece::PUBLISHED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn btn-outline-dark btn-sm bi bi-unlock" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="album">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% @pieces.each do |piece| %>
              <% if piece.published? %>
                <%= render "pieces/piece_gallery", piece: piece %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>