<p style="color: green"><%= notice %></p>

<!-- TODO: add link to go back to museum, move the buttons to near the header as in museum, and add the form to create new pieces form here -->
<h2><%= @piece_collection.name %></h2>
<%= @piece_collection.status %>

<!-- TODO localize this -->
<div class="btn-group">
  <%= button_to "Eliminar",
                piece_collection_path(@piece_collection),
                method: :delete,
                class: "btn btn-outline-danger btn-sm" %>
  <%= link_to "Editar",
              edit_piece_collection_path(@piece_collection),
              class: "btn btn-outline-secondary btn-sm" %>
</div>
