<p style="color: green"><%= notice %></p>

<!-- TODO:  add the form to create new pieces form here -->
<%= link_to "Atrás", museum_path(@piece_collection.museum_id), class: "bi bi-arrow-left" %>
<div class="row mt-2">
  <div class="col-auto me-auto" id="<%= dom_id @piece_collection %>">
    <h2><%= @piece_collection.name %></h2>
  </div>
  <div class="col text-end">
    <%= link_to "",
                edit_piece_collection_path(@piece_collection),
                class: "btn btn-outline-secondary bi bi-pencil-fill" %>
  </div>
  <div class="col-auto">
    <%= button_to "",
                  piece_collection_path(@piece_collection),
                  method: :delete,
                  class: "btn btn-outline-danger bi bi-trash3-fill" %>

  </div>
</div>

<%= @piece_collection.status %>

<strong>Piezas</strong>
<%= link_to "",
            new_piece_collection_piece_path(@piece_collection),
            class: "bi bi-plus-circle-fill",
            data: { turbo_frame: dom_id( Piece.new ) } %>

<%= turbo_frame_tag Piece.new %>

<%= turbo_frame_tag "pieces" do %>
  <%= render @pieces %>
<% end %>
