<p style="color: green"><%= notice %></p>

<%= render @piece_collection %>

<div>
  <%= link_to "Edit this piece collection", edit_piece_collection_path(@piece_collection) %> |
  <%= link_to "Back to piece collections", piece_collections_path %>

  <%= button_to "Destroy this piece collection", @piece_collection, method: :delete %>
</div>
