<div class="container page-container">
  <nav aria-label="breadcrumb primary">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= Author.model_name.human(count: 2) %>
      </li>
    </ol>
  </nav>

  <div class="d-flex align-items-center">
    <div class="p-2 flex-grow-1">
      <span class="main_heading"> <%= t(".title") %> </span>
    </div>
    <div class="p-2">
      <%= link_to t(".new"),
                  new_author_path,
                  class: "btn btn-primary",
                  data: { turbo_frame: dom_id(Author.new) } %>
    </div>
  </div>

  <div class="row justify-content-end align-items-center">
    <div class="col-auto">
      <div class="input-group">
        <%= search_form_for @q, class: "input-group" do |f| %>
          <%= f.search_field :first_name_or_last_name_cont,
                             class: "form-control form-control",
                             placeholder: t(".search_info"),
                             data: {
                               bs_toggle: "tooltip",
                               bs_placement: "top",
                               bs_title: t(".search_info_tooltip") } %>
          <%= f.submit "Buscar", class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
    <div class="col-auto" id="pagination-container" >
      <%= render "layouts/pagination" %>
    </div>
  </div>

  <%= turbo_frame_tag Author.new %>

  <div class="table-responsive-md mt-3">
    <table class="table data-table">
      <thead class="table align-middle">
      <tr>
        <th scope="col">
          <%= sort_link(@q, :first_name, default_order: :asc, class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :last_name, class: "table-header-links") %>
        </th>
        <th scope="col"> <%= t(".pieces") %> </th>
      </tr>
      </thead>
      <tbody class="align-middle" id="authors_table">
      <% @authors.each do |author| %>
        <%= render "author", author: author %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>