<div class="col-xl-8">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <% if resource.errors.any? %>
      <%= render "layouts/validation_errors", errors_list: resource.errors %>
    <% end %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password, class: "form-label mb-0" %>
      <p class="small text-secondary mb-1">
        <%= t("users.edit.edit_pwd_explanation") %>
      </p>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <span><%= @minimum_password_length %> <%= t("users.edit.edit_pwd_pwd_rule") %></span>
      <% end %>
    </div>

    <%= f.label :password_confirmation, class: "form-label" %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-3" %>

    <div class="mb-3">
      <%= f.label :current_password, class: "form-label mb-0" %>
      <p class="small text-secondary mb-1"> <%= t("users.edit.edit_pwd_confirmation_explanation") %></p>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control mb-3" %>
    </div>

    <%= f.submit t("users.edit.edit_pwd_submit"), class: "btn btn-outline-dark" %>
  <% end %>
</div>