<div class="col-xl-8">
  <%= form_with(model: user) do |form| %>
    <% if user.errors.any? %>
      <%= render "layouts/validation_errors", errors_list: user.errors %>
    <% end %>

    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control mb-3" %>

    <div class="row mb-3">
      <div class="col-auto">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>
      <div class="col-auto">
        <%= form.label :last_name, class: "form-label" %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <%= form.label :ci, class: "form-label" %>
    <%= form.text_field :ci, class: "form-control mb-3" %>

    <%= form.label :phone_number, class: "form-label" %>
    <%= form.text_field :phone_number, class: "form-control mb-3" %>

    <%= form.label :profile_picture, class: "form-label mb-0" %>
    <p class="small text-secondary mb-1">
      <%= t("global.forms.allowed_image_explanation") %>
    </p>
    <%= form.file_field :profile_picture, class: "form-control mb-3" %>

    <%= form.submit class: "btn btn-outline-dark" %>

  <% end %>
</div>
