<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre completo:</strong>
    <%= user.last_name %>, <%= user.first_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Ci:</strong>
    <%= user.ci %>
  </p>

  <p>
    <strong>Creado por invitación?:</strong>
    <%= user.created_by_invite? %>
  </p>

  <p>
    <strong>Invitación aceptada?:</strong>
    <%= user.invitation_accepted? %>
  </p>

</div>
