<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<%= link_to "New user", new_user_path %>
<div id="users">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Creado por invitación?</th>
      <th>Invitación aceptada?</th>
      <th>Detalles</th>
    </tr>
  <% @users.each do |user| %>
    <tr id="<%= dom_id user %>">
      <td> <%= user.first_name %></td>
      <td> <%= user.email %></td>
      <td> <%= user.created_by_invite?%></td>
      <td> <%= user.invitation_accepted? %></td>
      <td> <%= link_to "Show this user", user %></td>
    </tr>
  <% end %>
  </table>
</div>


