<style>
    table, th, td {
        text-align: left;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
    }
</style>

<% admin = current_user.admin? ? true : false %>

<table>
  <tr>
    <th><%= MuseumRegistrationRequest.human_attribute_name("museum_name") %></th>
    <th><%= MuseumRegistrationRequest.human_attribute_name("registration_status") %></th>
    <th><%= MuseumRegistrationRequest.human_attribute_name("museum_code") %></th>
    <th><%= MuseumRegistrationRequest.human_attribute_name("museum_address") %></th>
    <th>Ciudad</th>
    <th>Departamento</th>
    <th><%= MuseumRegistrationRequest.human_attribute_name("manager_email") %></th>
    <th><%= MuseumRegistrationRequest.human_attribute_name("created_at") %></th>
    <th><%= MuseumRegistrationRequest.human_attribute_name("updated_at") %></th>
    <% if admin %>
      <th>Acciones</th>
    <% end %>
  </tr>

  <% if @museum_registration_requests %>
    <% @museum_registration_requests.each do |museum_registration_request| %>
      <tr id="<%= dom_id museum_registration_request %>">
        <td> <%= museum_registration_request.museum_name %></td>
        <td> <%= t("activerecord.attributes.museum_registration_request.registration_statuses.#{museum_registration_request.registration_status}") %></td>
        <td> <%= museum_registration_request.museum_code %></td>
        <td> <%= museum_registration_request.museum_address %></td>
        <td> todo - add city</td>
        <td> todo - add department</td>
        <td> <%= museum_registration_request.manager_email %></td>
        <td> <%= l(museum_registration_request.created_at) %></td>
        <td> <%= l(museum_registration_request.updated_at) %></td>
        <% if admin %>
          <td> <%= link_to t("museum_registration_requests.index.view"), museum_registration_request %> </td>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% else %>
    <%= render "application/empty_list" %>
  <% end %>
