<% admin = current_user.admin? ? true : false %>
<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("museum_name") %></th>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("registration_status") %></th>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("museum_code") %></th>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("museum_address") %></th>
      <th scope="col">Ciudad</th>
      <th scope="col">Departamento</th>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("manager_email") %></th>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("created_at") %></th>
      <th scope="col"><%= MuseumRegistrationRequest.human_attribute_name("updated_at") %></th>
      <% if admin %>
        <th>Acciones</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% if @museum_registration_requests %>
      <% @museum_registration_requests.each do |museum_registration_request| %>
        <tr id="<%= dom_id museum_registration_request %>">
          <td> <%= museum_registration_request.museum_name %></td>
          <td> <%= t("activerecord.attributes.museum_registration_request.registration_statuses.#{museum_registration_request.registration_status}") %></td>
          <td> <%= museum_registration_request.museum_code %></td>
          <td> <%= museum_registration_request.museum_address %></td>
          <td> todo - add city</td>
          <td> todo - add department</td>
          <td> <%= museum_registration_request.manager_email %></td>
          <td> <%= l(museum_registration_request.created_at) %></td>
          <td> <%= l(museum_registration_request.updated_at) %></td>
          <% if admin %>
            <td> <%= link_to t("museum_registration_requests.index.view"), museum_registration_request %> </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      </table>
    <% else %>
      <%= render "application/empty_list" %>
    <% end %>
    </div>