<div id="<%= dom_id museum_registration_request %>">

  <h2> Solicitud de Registro #<%= museum_registration_request.id %></h2>
  <p>
    <strong><%= t("museum_registration_request.attributes.registration_status") %>:</strong>

  </p>

  <p>
    <strong><%= t("museum_registration_request.attributes.name") %>:</strong>
    <%= museum_registration_request.museum_name %>
  </p>

  <p>
    <strong>Museum code:</strong>
    <%= museum_registration_request.museum_code %>
  </p>

  <p>
    <strong>Museum address:</strong>
    <%= museum_registration_request.museum_address %>
  </p>

  <p>
    <strong>Manager email:</strong>
    <%= museum_registration_request.manager_email %>
  </p>

  <p>
    <strong>Manager name:</strong>
    <%= museum_registration_request.manager_name %>
  </p>

</div>
