<div class="container page-container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= MuseumRegistrationRequest.model_name.human(count: 2) %>
      </li>
    </ol>
  </nav>

  <div class="d-flex align-items-center">
    <div class="p-2 flex-grow-1">
      <span class="main_heading"> <%= MuseumRegistrationRequest.model_name.human(count: 2) %> </span>
    </div>
    <div class="p-2">
      <%= button_to t("global.menu.new_registration_request"), new_museum_registration_request_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row justify-content-end align-items-center">
    <div class="col-auto">
      <div class="input-group">
        <%= search_form_for @q, class: "input-group" do |f| %>
          <%= f.search_field :museum_name_or_manager_email_or_city_name_cont,
                             class: "form-control form-control",
                             placeholder: "Museo, correo, ciudad" %>
          <%= f.submit "Buscar", class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
    <div class="col-auto">
      <div class="pagination-showing-count">
        <%== pagy_info(@pagy, item_name: "") %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>

  <div class="table-responsive-md">
    <table class="table data-table">
      <thead class="table align-middle">
      <tr>
        <th scope="col">
          <%= sort_link(@q, :museum_name, t(".museum_name"), class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :registration_status, t(".request_status"), default_order: :asc, class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :museum_code, t(".museum_code"), class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :manager_email, t(".manager_email"), class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :city_name, t(".city"), class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :created_at, t(".created_at"), class: "table-header-links") %>
        </th>
        <th scope="col">
          <%= sort_link(@q, :updated_at, t(".updated_at"), class: "table-header-links") %>
        </th>
      </tr>
      </thead>
      <tbody class="align-middle">
      <% if @museum_registration_requests %>
        <% @museum_registration_requests.each do |museum_registration_request| %>
          <tr id="<%= dom_id museum_registration_request %>">
            <td>
              <%= link_to museum_registration_request.museum_name, museum_registration_request %>
            </td>
            <td>
              <i class="icon icon_<%= museum_registration_request.registration_status %>"></i>
              <span>
                <%= t("activerecord.attributes.museum_registration_request.registration_statuses.#{ museum_registration_request.registration_status }") %>
              </span>
            </td>
            <td> <%= museum_registration_request.museum_code %></td>
            <td> <%= museum_registration_request.manager_email %></td>
            <td> <%= museum_registration_request.city.name %> </td>
            <td> <%= l(museum_registration_request.created_at) %></td>
            <td>
              <% if museum_registration_request.updated_by %>
                <%= l(museum_registration_request.updated_at) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
        </table>
      <% else %>
        <p> <%= t("global.partials.empty_list") %>  </p>
      <% end %>

      </div>
</div>