<div class="container page-container">
  <div class="row">
    <div class="col-sm-6 pb-2" id="<%= dom_id @museum_registration_request %>">
      <span class="main_heading"> <%= t(".title") %></span>
      <p class="py-1"> <%= t(".info") %>
        <% if current_user %>
          <%= t(".info_logged_user") %>
        <% end %>
      </p>
    </div>
  </div>

  <%= form_with(model: @museum_registration_request,
                class: "needs-validation",
                data: { controller: "form-validator" }) do |form| %>

    <% if @museum_registration_request.errors.any? %>
      <%= render "layouts/validation_errors", errors_list: @museum_registration_request.errors %>
    <% end %>

    <div class="col-sm-6 mb-3 border-top">
      <h6 class="my-3"><%= t(".museum_data") %></h6>
      <%= form.label :museum_name, class: "form-label" %>
      <%= form.text_field :museum_name, class: "form-control" %>
    </div>

    <div class="col-sm-6 mb-3">
      <%= form.label :museum_code, class: "form-label" %>
      <p class="small text-secondary mb-1">
        <%= t(".museum_code_explanation") %>
      </p>
      <%= form.text_field :museum_code, class: "form-control" %>
    </div>

    <div class="col-sm-6 mb-3">
      <%= form.label :registration_doc, class: "form-label" %>
      <p class="small text-secondary mb-1">
        <%= t(".museum_code_document") %>
      </p>
      <%= form.file_field :registration_doc, class: "form-control" %>
    </div>

    <div class="col-sm-6 mb-3">
      <%= form.label :museum_address, class: "form-label" %>
      <%= form.text_field :museum_address, class: "form-control" %>
    </div>

    <div data-controller="department-city-picker" class="row pb-3">
      <div class="col-md-3 mb-3">
        <%= form.label t("museum_registration_requests.new.department"), class: "form-label" %>
        <%= form.select :department_id,
                        @departments,
                        { prompt: "Elegir" },
                        { class: "form-select", data: { action: "change->department-city-picker#change" } } %>

      </div>

      <div class="col-md-3 mb-3">
        <%= form.label t("museum_registration_requests.new.city"), class: "form-label" %>
        <%= form.select :city_id,
                        [],
                        { prompt: "Elegir" },
                        { class: "form-select", data: { department_city_picker_target: "citySelect" } } %>
      </div>
    </div>

    <!-- Show only to users that don't exist in the system  -->
    <% unless current_user %>
      <div class="col-sm-6 mb-3 border-top pt-2">
        <h6 class="my-3"><%= t(".requester_data") %></h6>
        <p><i class="bi bi-info-circle pe-2"></i><%= t(".requester_info") %></p>
        <%= form.label :manager_email, class: "form-label" %>
        <%= form.email_field :manager_email, class: "form-control mb-3", placeholder: "correo@museo.com.py" %>

        <div class="row">
          <div class="col-auto ">
            <%= form.label :first_name, class: "form-label" %>
            <%= form.text_field :first_name, class: "form-control mb-3" %>
          </div>
          <div class="col-auto">
            <%= form.label :last_name, class: "form-label" %>
            <%= form.text_field :last_name, class: "form-control mb-3" %>
          </div>
        </div>

        <%= form.label :ci, class: "form-label" %>
        <%= form.text_field :ci, class: "form-control mb-3" %>

        <%= form.label :phone_number, class: "form-label" %>
        <%= form.text_field :phone_number, class: "form-control mb-3", placeholder: "(0985) 111 111" %>
      </div>
    <% end %>
    <div class="d-inline-flex align-items-center mb-3 pb-3">
      <%= form.submit t(".send_request"), class: "btn btn-primary cta", placeholder: "correo@museo.com.py" %>
      <%= link_to "Cancelar", root_path, class:"link-body-emphasis ms-3" %>
    </div>
  <% end %>
</div>