<h2><%= t(".title") %></h2>
<% if current_user %>
  <p> Serás asignado como el administrador de este museo automáticamente.</p>
<% end %>

<%= form_with(model: @museum_registration_request, class: "mt-3") do |form| %>
  <% if @museum_registration_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@museum_registration_request.errors.count, "error") %> prohibited this
        museum_registration_request from being saved:</h2>

      <ul>
        <% @museum_registration_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 mb-3">
    <%= form.label :museum_name, class: "form-label" %>
    <%= form.text_field :museum_name, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :museum_code, class: "form-label" %>
    <%= form.text_field :museum_code, class: "form-control" %>
  </div>

  <div class="col-md-4 mb-3">
    <%= form.label :museum_address, class: "form-label" %>
    <%= form.text_field :museum_address, class: "form-control" %>
  </div>

  <div data-controller="department-city-picker" class="row"  >
    <div class="col-md-2 mb-3">
      <%= form.label t("museum_registration_requests.new.department"), class: "form-label" %>
      <%= form.collection_select :department_id,
                                 Department.all, :id, :name,
                                 { prompt: "Seleccionar Departamento" },
                                 { class: "form-select", data: {action: "change->department-city-picker#change"} } %>

    </div>

    <div class="col-md-2 mb-3">
      <%= form.label t("museum_registration_requests.new.city"), class: "form-label" %>
      <%= form.collection_select :city_id, [], :id, :name, { prompt: "Select City" }, { class: "form-select", disabled: true } %>
    </div>
  </div>

  <% unless current_user %>
    <!-- Show only to users that don't exist in the system  -->
    <div class="col-md-4 mb-3">
      <%= form.label :manager_email, class: "form-label" %>
      <%= form.email_field :manager_email, class: "form-control", placeholder: "correo@museo.com.py" %>
    </div>
  <% end %>
  <div>
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
<% end %>

<br>
<% if current_user&.admin? %>
  <div>
    <%= link_to t(".back"), museum_registration_requests_path %>
  </div>
<% end %>