<div class="container page-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Solicitudes de registro", museum_registration_requests_path, class: "link-body-emphasis text-decoration-none" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= MuseumRegistrationRequest.model_name.human %>
      </li>
    </ol>
  </nav>
  <% if @museum_registration_request.errors.any? %>
    <div class="validation-errors">
      <ul class="list-unstyled">
        <% @museum_registration_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section class="page-info-section">
    <div class="main_heading" id="<%= dom_id @museum_registration_request %>">
      <%= MuseumRegistrationRequest.model_name.human %>
    </div>
    <div class="pb-3">
      <i class="icon icon_<%= @museum_registration_request.registration_status %>"></i>
      <span>
      <%= t("activerecord.attributes.museum_registration_request.registration_statuses.#{@museum_registration_request.registration_status}") %>
    </span>
    </div>
    <div class="row" data-controller="registration-request-modal">
      <div class="col-sm-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h6 class="my-2"><%= t(".museum_info") %></h6>
                <dl class="row">
                  <dt class="record-title col-sm-3"><%= t(".name") %>:</dt>
                  <dd class="col-sm-9">
                    <% if @museum_registration_request.museum %>
                      <%= link_to @museum_registration_request.museum_name, @museum_registration_request.museum %>
                    <% else %>
                      <%= @museum_registration_request.museum_name %>
                    <% end %>
                  </dd>

                  <dt class="record-title col-sm-3"><%= t(".museum_code") %>:</dt>
                  <dd class="col-sm-9">
                    <ul class="list-unstyled">
                      <li>
                        <%= @museum_registration_request.museum_code %>
                      </li>
                      <li>
                        <% if @museum_registration_request.registration_doc.attached? %>
                          <%= link_to @museum_registration_request.registration_doc.filename, rails_blob_path(@museum_registration_request.registration_doc, disposition: "attachment"), class: "link-body-emphasis" %>
                        <% else %>
                          <%= t(".no_document") %>
                        <% end %>
                      </li>
                    </ul>

                  </dd>


                  <dt class="record-title col-sm-3"> <%= t(".address") %>:</dt>
                  <dd class="col-sm-9"><%= @museum_registration_request.museum_address %></dd>
                </dl>

              </li>
              <li class="list-group-item">
                <h6 class="my-2"><%= t(".requester_info") %></h6>
                <dl class="row">
                  <dt class="record-title col-sm-3"><%= t(".requester_email") %>:</dt>
                  <dd class="col-sm-9"> <%= @museum_registration_request.manager_email %></dd>

                  <dt class="record-title col-sm-3"><%= t(".first_name") %>:</dt>
                  <dd class="col-sm-9"> <%= @museum_registration_request.first_name %></dd>

                  <dt class="record-title col-sm-3"><%= t(".last_name") %>:</dt>
                  <dd class="col-sm-9"> <%= @museum_registration_request.last_name %></dd>

                  <dt class="record-title col-sm-3"><%= t(".ci") %>:</dt>
                  <dd class="col-sm-9"> <%= @museum_registration_request.ci %></dd>

                  <dt class="record-title col-sm-3"><%= t(".phone_number") %>:</dt>
                  <dd class="col-sm-9"> <%= @museum_registration_request.phone_number %></dd>
                </dl>
              </li>
              <li class="list-group-item">
                <h6 class="my-2"><%= t(".request_info") %></h6>
                <dl class="row">
                  <dt class="record-title col-sm-3"> <%= t(".created_date") %>:</dt>
                  <dd class="col-sm-9"><%= l(@museum_registration_request.created_at) %></dd>

                  <dt class="record-title col-sm-3"><%= t(".created_by") %>:</dt>
                  <dd class="col-sm-9">
                    <% if @museum_registration_request.created_by %>
                      <%= link_to @museum_registration_request.created_by.email, @museum_registration_request.created_by, class: "link-body-emphasis" %>
                    <% else %>
                      <%= t(".crated_by_anonymous") %>
                    <% end %>
                  </dd>

                  <% if @museum_registration_request.updated_by %>
                    <dt class="record-title col-sm-3"> <%= t(".updated_date") %>:</dt>
                    <dd class="col-sm-9"> <%= l(@museum_registration_request.updated_at) %> </dd>

                    <dt class="record-title col-sm-3"> <%= t(".updated_by") %>:</dt>
                    <dd class="col-sm-9"> <%= link_to @museum_registration_request.updated_by.email, @museum_registration_request.updated_by, class: "link-body-emphasis" %></dd>
                  <% end %>

                  <% if @museum_registration_request.feedback %>
                    <dt class="record-title col-sm-3"> <%= t(".feedback") %>:</dt>
                    <dd class="col-sm-9"> <%= @museum_registration_request.feedback %> </dd>
                  <% end %>
                </dl>
              </li>
            </ul>

            <!-- Actions -->
            <div class="d-flex justify-content-start">
              <% if @museum_registration_request.not_reviewed? %>
                <div class="p-1">
                  <%= link_to t(".approve_button"),
                              edit_museum_registration_request_path(@museum_registration_request),
                              class: "btn btn-primary cta bi bi-check2",
                              data:
                                {
                                  action: "click->registration-request-modal#setApproved",
                                  bs_toggle: "modal",
                                  bs_target: "#confirmModal",
                                  bs_result: "Aprobar"
                                } %>
                </div>
                <div class="p-1">
                  <%= link_to t(".reject_button"),
                              edit_museum_registration_request_path(@museum_registration_request),
                              class: "btn btn-outline-primary cta bi bi-x",
                              data:
                                {
                                  action: "click->registration-request-modal#setRejected",
                                  bs_toggle: "modal",
                                  bs_target: "#confirmModal",
                                  bs_result: "Rechazar"
                                } %>
                </div>
              <% end %>
              <% unless @museum_registration_request.archived? %>
                <div class="p-1">
                  <%= link_to t(".archive_button"),
                              edit_museum_registration_request_path(@museum_registration_request),
                              class: "btn btn-link danger cta bi bi-archive",
                              data:
                                {
                                  action: "click->registration-request-modal#setArchived",
                                  bs_toggle: "modal",
                                  bs_target: "#confirmModal",
                                  bs_result: "Archivar"
                                } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirmModalLabel">Actualizar Solicitud</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= form_with(model: @museum_registration_request) do |form| %>
              <div class="modal-body mx-3">
                <div class="mb-3">
                  <%= form.radio_button :registration_status, 0, { checked: true,
                                                                   hidden: true,
                                                                   class: "form-check-input",
                                                                   data: { registration_request_modal_target: "statusCheckbox" } } %>

                </div>

                <div class="mb-3">
                  <div hidden="hidden" data-registration-request-modal-target="approvalConfirmation"><%= t(".approval_confirmation") %></div>
                  <div hidden="hidden" data-registration-request-modal-target="rejectionConfirmation"><%= t(".rejection_confirmation") %></div>
                  <div hidden="hidden" data-registration-request-modal-target="archivalConfirmation"><%= t(".archival_confirmation") %></div>
                </div>

                <div hidden="hidden" class="mb-3" data-registration-request-modal-target="feedbackBox">
                  <%= form.label "Puedes escribir un mensaje explicando tu decisión", class: "form-label text-emphasis" %>
                  <%= form.text_area :feedback, class: "form-control" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-link link-body-emphasis" data-bs-dismiss="modal" id="cancelBtn"><%= t(".cancel") %></button>
                <%= form.submit t(".confirm"), class: "btn btn-primary", id: "confirmBtn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>