<%= render @museum_registration_request %>

<div>
  <% if @museum_registration_request.not_reviewed? %>
    <%= button_to t(".approve_button"), update_registration_status_museum_registration_request_path(@museum_registration_request, registration_status: MuseumRegistrationRequest::APPROVED), method: :patch %>
    <%= button_to t(".reject_button"), update_registration_status_museum_registration_request_path(@museum_registration_request, registration_status: MuseumRegistrationRequest::REJECTED), method: :patch %>
  <% elsif !@museum_registration_request.archived? %>
    <%= button_to t(".archive_button"), update_registration_status_museum_registration_request_path(@museum_registration_request, registration_status: MuseumRegistrationRequest::ARCHIVED), method: :patch %>
  <%end %>

  <%= link_to t(".back"), museum_registration_requests_path %>
</div>
