<section class="">
  <div class="container-fluid px-0">
    <div class="row g-0 align-items-center justify-content-center">
      <div class="col-xl-5 col-lg-6">
        <div class="m-5 px-xl-5">
          <h1 class="display-5 fw-bold text-body-emphasis mb-4"><%= t("global.hero.title") %> </h1>
          <div>
            <p class="lead"><%= t("global.hero.sub_title") %></p>
            <div role="search">
              <%= search_form_for @q, class: "d-sm-flex flex-lg-column" do |f| %>
                <div class="flex-mb-grow-1 mb-2 me-3 me-xl-5">
                  <%= f.search_field :name_or_about_cont,
                                     class: "form-control form-control-lg",
                                     placeholder: t("global.hero.search_placeholder") %>
                </div>
                <div class="flex-mb-grow-1">
                  <%= f.submit class: "btn btn-primary btn-lg cta" %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <div data-controller="map" >
          <div data-map-target="container"  class="p-xl-5 map-layout map-layout__home" >

          </div>
        </div>
      </div>


    </div>
  </div>

</section>
