<div class="photo-gallery pt-3">
  <% pieces.each do |piece| %>
    <div class="card shadow-sm photo-card" id="<%= dom_id piece %>">
      <% if piece.image.attached? %>
        <%= image_tag(piece.image, class: "card-img-top") %>
      <% else %>
        <%= image_tag("placeholder_image.png", class: "card-img-top") %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to piece.name, piece_path(piece), class: "card-link link-body-emphasis link-underline-opacity-0 " %>
        </h4>
        <% if piece.author %>
          <p class="card-text text-body-tertiary"> <%= piece.author.full_name %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


