<div class="col">
  <div class="card shadow-sm" id="<%= dom_id piece%>">
    <% if piece.image.attached? %>
      <%= image_tag( piece.image, class: "card-img-top" ) %>
    <% else %>
      <%= image_tag("piece_placeholder_image.png", class: "card-img-top") %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title">
        <%= turbo_frame_tag piece do %>
          <!-- Added the data_turbo_frame="_top" to replace the current page with the piece collection show  -->
          <h5> <%= link_to  piece.name,
                            piece_path(piece),
                            data: { turbo_frame: "_top" } %>
          </h5>
        <% end %>
      </h5>
    </div>
  </div>
</div>
