<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @piece %>">
  <p>
    <strong>Number:</strong>
    <%= @piece.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @piece.description %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= @piece.material %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= @piece.measurement %>
  </p>

  <p>
    <strong>Conservation state:</strong>
    <%= @piece.conservation_state %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @piece.status %>
  </p>

  <p>
    <strong>Piece collection:</strong>
    <%= @piece.piece_collection_id %>
  </p>

</div>

<div>

  <%= link_to "Back to pieces", piece_collection_path(@piece.piece_collection_id) %>


</div>
