<%= form_with(model: museum) do |form| %>
  <% if museum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(museum.errors.count, "error") %> prohibited this museum from being saved:</h2>

      <ul>
        <% museum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :about, style: "display: block" %>
    <%= form.text_area :about %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :page, style: "display: block" %>
    <%= form.text_field :page %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
