<style>
    .grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    }
</style>

<div class="d-flex bd-highlight flex-column justify-content-center align-items-left">
  <div class="bd-highlight mb-3">
    <h2> <%= t("museums.show.gallery_title") %> </h2>
  </div>
</div>

<div class="grid" id="museums">
  <% @museums.each do |museum| %>
    <% if museum.published? %>
      <div class="card" id="<%= dom_id museum %>">
        <%= image_tag("placeholder.png", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"> <%= museum.name %> </h5>
          <p class="card-text"><%= museum.about %></p>
          <%= link_to t(".view"), museum, class: "card-link" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>