<div class="museum" id="<%= dom_id museum %>">
  <% admin = current_user&.admin? ? true : false %>

  <h2> <%= museum.name %></h2>

  <% if admin %>
    <p>
      <strong><%= Museum.human_attribute_name("museum_status") %>:</strong>
      <%= t("activerecord.attributes.museum.museum_statuses.#{museum.museum_status}") %>
    </p>
  <% end %>


  <% if museum.museum_registration_request && admin %>
    <p>
      <strong> <%= t("museums.other.created_by_request") %>: </strong>
      <%= link_to t("activerecord.attributes.museum.museum/museum_registration_request.id"), museum.museum_registration_request %>
    </p>
  <% end %>


  <p>
    <strong><%= Museum.human_attribute_name("about") %>:</strong>
    <%= museum.about %>
  </p>

  <p>
    <strong><%= Museum.human_attribute_name("email") %>:</strong>
    <%= museum.email %>
  </p>

  <p>
    <strong><%= Museum.human_attribute_name("phone") %>:</strong>
    <%= museum.phone %>
  </p>

  <p>
    <strong><%= Museum.human_attribute_name("page") %>:</strong>
    <%= museum.page %>
  </p>

  <p>
    <strong><%= Museum.human_attribute_name("address") %>:</strong>
    <%= museum.address %>
  </p>

  <% if admin %>
    <p>
      <strong><%= t("activerecord.attributes.museum.museum/user.email") %>:</strong>
      <%= link_to museum.user.email, museum.user %>
    </p>
  <% end %>
  <%= link_to t("museums.index.view"), museum %>
</div>
