<% admin = current_user&.admin? ? true : false %>

<div class="d-flex bd-highlight flex-column justify-content-center align-items-center">
  <div class="bd-highlight" id="<%= dom_id museum %>">
    <h2> <%= museum.name %></h2>
  </div>
  <div class="pb-2 bd-highlight">
    <span class="status status_<%= museum.status %>">
      <%= t("activerecord.attributes.museum.statuses.#{museum.status}") %>
    </span>
  </div>
</div>

<!-- Information section -->

<div class="accordion shadow-sm" id="record-accordion">
  <div class="accordion-item">
    <div class="accordion-header" id="accordion-heading">
      <button class="accordion-button collapsed record-header" type="button" data-bs-toggle="collapse" data-bs-target="#panel-collapseOne" aria-expanded="false" aria-controls="panel-collapseOne">
        Ficha del Museo
      </button>

    </div>

    <div id="panel-collapseOne" class="accordion-collapse collapse" aria-labelledby="accordion-heading">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h6 class="mb-3 mt-1"><%= t("museums.show.section_admin") %></h6>
            <dl class="row">
              <% if admin %>
                <dd class="record-title"><%= link_to t("activerecord.attributes.museum.museum/museum_registration_request.id"), museum.museum_registration_request %></dd>
                <dt class="record-title"><%= t("activerecord.attributes.museum.user") %></dt>
                <dd ><%= link_to museum.user.email, museum.user %></dd>
              <% end %>
              <dt class="record-title"><%= t("activerecord.attributes.museum.code") %></dt>
              <dd><%= museum.code %></dd>
            </dl>
          <li class="list-group-item">
            <h6 class="my-3"><%= t("museums.show.section_general") %></h6>
            <dl>
              <dt class="record-title"><%= t("activerecord.attributes.museum.about") %></dt>
              <dd><%= museum.about %></dd>
              <dt class="record-title"><%= t("activerecord.attributes.museum.address") %></dt>
              <dd><%= museum.address %></dd>
              <dt class="record-title"><%= t("activerecord.attributes.museum.city") %></dt>
              <dd><%= museum.city.name %></dd>
            </dl>
          </li>
          <li class="list-group-item">
            <h6 class="my-3"><%= t("museums.show.section_contact") %></h6>
            <dl>
              <dt class="record-title"><%= t("activerecord.attributes.museum.phone") %></dt>
              <dd><%= museum.phone %></dd>
              <dt class="record-title"><%= t("activerecord.attributes.museum.email") %></dt>
              <dd><%= museum.email %></dd>
              <dt class="record-title"><%= t("activerecord.attributes.museum.page") %></dt>
              <dd><%= museum.page %></dd>
            </dl>
          </li>
          <li class="list-group-item">
            <%= link_to "Editar Ficha", edit_museum_path(@museum), class: "btn btn-dark" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Collection section -->
<!-- Render the piece_collections/_piece_collection partial -->

<div class="row py-3">
  <div class="col "><h4>Colecciones</h4></div>
  <div class="col text-end">
    <%= link_to "Agregar coleccion",
                new_museum_piece_collection_path(museum),
                class: "btn btn-outline-secondary",
                data: { turbo_frame: dom_id(PieceCollection.new) } %>
  </div>
</div>

<!-- Empty tag that will be replaced with the New Form for the piece collection -->
<%= turbo_frame_tag PieceCollection.new %>

<div class="table-responsive mt-3">
  <table class="table">
    <thead class="table-light align-miple">
    <tr>
      <th scope="col"> <%= PieceCollection.human_attribute_name("name") %> </th>
      <th scope="col"> <%= PieceCollection.human_attribute_name("status") %> </th>
      <th scope="col"> <%= t(".pieces") %> </th>
      <th scope="col"> <%= PieceCollection.human_attribute_name("updated_at") %> </th>
      <th scope="col"> <%= t(".actions") %> </th>
    </tr>
    </thead>
    <tbody class="align-miple" id="collections_table">
    <% museum.piece_collections.each do |piece_collection| %>
      <%= render "piece_collections/piece_collection", piece_collection: piece_collection %>
    <% end %>
    </tbody>
  </table>
</div>
