<div id="<%= dom_id museum %>">
  <p>
    <strong>Museum Name:</strong>
    <%= museum.name %>
  </p>

  <p>
    <strong>Created from registration request?:</strong>
    <% if museum.museum_registration_request_id %>
      <%= "Yes" %>
    <% else %>
      <%= "No" %>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= museum.about %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= museum.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= museum.phone %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= museum.page %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= museum.address %>
  </p>

  <p>
    <strong>Museum Manager:</strong>
    <%= museum.user.email %>
  </p>

</div>
