<div class="d-flex flex-column align-items-center">
  <div class="main_heading mb-2">
    <%= t("museums.show.gallery_title") %>
  </div>
</div>

<div class="photo-gallery" id="museums">
  <% museums.each do |museum| %>
    <% if museum.published? %>
      <div class="card shadow-sm photo-card" id="<%= dom_id museum %>">
        <% if museum.image.attached? %>
          <%= image_tag(museum.image, class: "card-img-top") %>
        <% else %>
          <%= image_tag("placeholder.png", class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title fw-semibold"> <%= link_to museum.name, museum, class: "card-link link-body-emphasis link-underline-opacity-0 " %>  </h4>
          <p class="card-text text-body-tertiary"><%= museum.city.name %>, <%= museum.department.name %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>