<div class="container page-container">
  <nav aria-label="breadcrumb primary">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Museos", museums_path, class: "link-body-emphasis text-decoration-none" %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= museum.name %>
      </li>
    </ol>
  </nav>

  <div class="row mb-md-2 align-items-center">
    <div class="col-lg-3 col-md-3">
      <% if museum.image.attached? %>
        <%= image_tag(museum.image, class: "image-header") %>
      <% end %>
    </div>
    <div class="col-lg-7 col-md-6 mx-3">
      <div class="main_heading " id="<%= dom_id museum %>">
        <%= museum.name %>
      </div>
      <% if museum.about %>
        <div class="mt-4 pe-2">
          <p> <%= museum.about %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<section class="bg-light">
  <%= render "piece_collections/piece_collection_gallery", piece_collections: @piece_collections %>
</section>

<div class="container page-container mt-3">
  <div class="row">
    <div class="col">
      <strong> Visita el museo </strong>
      <ul class="list-unstyled">
        <li><%= museum.phone %> </li>
        <li><%= museum.email %> </li>
        <li> <%= museum.page %> </li>
        <li><%= museum.address %> </li>
        <li> <%= museum.city.name %> </li>
      </ul>
    </div>
    <div class="col">
      <strong>Horarios de atencion</strong>
      <p> todo - agregar horarios</p>
    </div>
    <div class="col">
      <strong>Accesibilidad</strong>
      <p> todo - agregar temas de accesibilidad, si tiene visitas guiadas, etc</p>
    </div>
  </div>
</div>