<% admin = current_user&.admin? ? true : false %>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h6 class="mb-3 mt-1"><%= t("museums.show.section_admin") %></h6>
    <dl class="row">
      <% if admin %>
        <dt class="record-title"><%= t("museums.show.created_by_request") %></dt>
        <dd><%= link_to t("activerecord.attributes.museum.museum/museum_registration_request.id"), @museum.museum_registration_request, data: { turbo_frame: "_top" } %></dd>
        <dt class="record-title"><%= t("activerecord.attributes.museum.user") %></dt>
        <dd><%= link_to @museum.user.email, @museum.user, data: { turbo_frame: "_top" } %></dd>
      <% end %>
      <dt class="record-title"><%= t("activerecord.attributes.museum.code") %></dt>
      <dd><%= @museum.code %></dd>
      <dt class="record-title"><%= t("activerecord.attributes.museum.status") %></dt>
      <dd>
        <i class="icon icon_<%= @museum.status %>"></i>
        <span> <%= t("activerecord.attributes.museum.statuses.#{@museum.status}") %> </span>
      </dd>
    </dl>
  <li class="list-group-item">
    <h6 class="my-3"><%= t("museums.show.section_general") %></h6>
    <dl>
      <dt class="record-title"><%= t("activerecord.attributes.museum.about") %></dt>
      <dd><%= @museum.about %></dd>
      <dt class="record-title"><%= t("activerecord.attributes.museum.address") %></dt>
      <dd>
        <p> <%= @museum.address %><br><%= @museum.city.name %>, <%= @museum.department.name %>.</p>
      </dd>

      <dt class="record-title"><%= t("activerecord.attributes.museum.image") %></dt>
      <dd>
        <% if @museum.image.attached? && !@museum.image.new_record? %>
          <%= image_tag(@museum.image, class: "image-record") %>
        <% else %>
          <%= t("museums.show.no_image_message") %>
        <% end %>
      </dd>

    </dl>
  </li>
  <li class="list-group-item border-0">
    <h6 class="my-3"><%= t("museums.show.section_contact") %></h6>
    <dl>
      <dt class="record-title"><%= t("activerecord.attributes.museum.phone") %></dt>
      <dd><%= @museum.phone %></dd>

      <dt class="record-title"><%= t("activerecord.attributes.museum.email") %></dt>
      <dd><%= @museum.email %></dd>

      <dt class="record-title"><%= t("activerecord.attributes.museum.page") %></dt>
      <dd><%= @museum.page %></dd>

      <dt class="record-title"><%= t("activerecord.attributes.museum.schedule") %></dt>
      <dd><%= @museum.schedule %></dd>

      <dt class="record-title"><%= t("activerecord.attributes.museum.accessibility_features") %></dt>
      <dd><%= @museum.accessibility_features %></dd>

      <dt class="record-title"><%= t("museums.show.entrance") %></dt>
      <dd><%= free_entrance_label(@museum.free_entrance, @museum.entrance_price) %></dd>
    </dl>
  </li>
  <li class="list-group-item">
    <%= link_to t("museums.show.edit_record"),
                edit_museum_path(@museum),
                class: "btn secondary_action" %>
  </li>
</ul>