<div class="d-flex flex-column align-items-center">
  <div class="main_heading mb-2" id="<%= dom_id @museum %>">
    <%= @museum.name %>
  </div>
  <% if museum.about %>
    <div class="col-sm-8 mb-2">
      <p> <%= museum.about %> </p>
    </div>
  <% end %>
  <div class="text-center gallery_heading"><%= t("museums.show.gallery_collections_title") %></div>
</div>

<%= render "piece_collections/piece_collection_gallery", piece_collections: @museum.piece_collections %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong> Visita el museo </strong>
      <ul class="list-unstyled">
        <li><%= museum.phone %> </li>
        <li><%= museum.email %> </li>
        <li> <%= museum.page %> </li>
        <li><%= museum.address %> </li>
        <li> <%= museum.city.name %> </li>
      </ul>
    </div>
    <div class="col">
      <strong>Horarios de atencion</strong>
      <p> todo - agregar horarios</p>
    </div>
    <div class="col">
      <strong>Accesibilidad</strong>
      <p> todo - agregar temas de accesibilidad, si tiene visitas guiadas, etc</p>
    </div>
  </div>
</div>