<% admin = current_user&.admin? %>

<div class="container page-container">
  <nav aria-label="breadcrumb primary">
    <ol class="breadcrumb breadcrumb-chevron">
      <li class="breadcrumb-item">
        <%= link_to root_path, class: "link-body-emphasis" do %>
          <i class="bi bi bi-house-door" width="16" height="16"></i>
          <span class="visually-hidden">Home</span>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= Museum.model_name.human(count: 2) %>
      </li>
    </ol>
  </nav>

  <% if current_user %>
    <div class="d-flex bd-highlight align-items-center">
      <div class="p-2 flex-grow-1 bd-highlight">
        <% if admin %>
          <span class="main_heading"><%= t("museums.show.admin_title") %></span>
        <% else %>
          <span class="main_heading"> <%= t("museums.show.owner_title") %> </span>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-end align-items-center">
      <div class="col-auto">
        <div class="input-group">
          <%= search_form_for @q, class: "input-group" do |f| %>
            <%= f.search_field :name_or_code_or_city_name_or_user_email_cont,
                               class: "form-control form-control",
                               placeholder: t(".search_info"),
                               data: {
                                 bs_toggle: "tooltip",
                                 bs_placement: "top",
                                 bs_title: t(".search_info_tooltip") } %>
            <%= f.submit "Buscar", class: "btn btn-light" %>
          <% end %>
        </div>
      </div>

      <div class="col-auto">
        <div class="pagination-showing-count">
          <%== pagy_info(@pagy, item_name: "") %>
        </div>
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>

    <div class="table-responsive-md">
      <table class="table  data-table">
        <thead class="table align-middle">
        <tr>
          <th scope="col">
            <%= sort_link(@q, :name, default_order: :asc, class: "table-header-links") %>
          </th>
          <th scope="col">
            <%= sort_link(@q, :status, t(".status"), class: "table-header-links") %>
          </th>
          <th scope="col">
            <%= sort_link(@q, :code, t(".code"), class: "table-header-links") %>
          </th>
          <th scope="col">
            <%= sort_link(@q, :user_email, t(".admin"), class: "table-header-links") %>
          </th>
          <th scope="col">
            <%= sort_link(@q, :city_name, t(".city"), class: "table-header-links") %>
          </th>
          <th scope="col">
            <%= sort_link(@q, :created_at, t(".created_at"), class: "table-header-links") %>
          </th>
          <th scope="col"> <%= t(".actions") %> </th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <% if current_user && !admin %>
          <% @museums = current_user.museums %>
        <% end %>
        <% @museums.each do |museum| %>
          <tr id="">
            <td>
              <%= link_to museum.name, museum %>
            </td>
            <td>
              <i class="icon icon_<%= museum.status %>"></i>
              <span><%= t("activerecord.attributes.museum.statuses.#{museum.status}") %></span>
            </td>
            <td> <%= museum.code %>  </td>
            <td> <%= museum.user.email %>  </td>
            <td> <%= museum.city.name %>  </td>
            <td> <%= l(museum.created_at) %>  </td>
            <td>
              <div class="btn-group">
                <% if current_user&.admin_or_museum_owner?(museum) && museum.published? %>
                  <%= button_to t("museums.index.make_private"),
                                update_museum_status_museum_path(museum, status: Museum::NOT_PUBLISHED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn btn-outline-dark btn-sm bi bi-lock" %>
                <% elsif current_user&.admin_or_museum_owner?(museum) && museum.hidden? %>
                  <%= button_to t("museums.index.make_public"),
                                update_museum_status_museum_path(museum, status: Museum::PUBLISHED),
                                method: :patch,
                                form: { data: { turbo_confirm: "Estas seguro?" } },
                                class: "btn btn-outline-dark btn-sm bi bi-unlock" %>

                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'museums_gallery', museums: @museums %>
  <% end %>
</div>