<div class="row">
  <%= form_with(model: material) do |form| %>
    <% if material.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

        <ul>
          <% material.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-sm-8 mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control"  %>
    </div>

    <div class="col-sm-8 mb-3">
      <%= form.submit class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>