<div class="container page-container">
  <div class="d-flex bd-highlight align-items-center">
    <div class="p-2 flex-grow-1 bd-highlight">
      <%= link_to "", root_path, class: "bi bi-arrow-left icon_back" %>
    </div>
  </div>
  <div class="d-flex bd-highlight align-items-left">
    <div class="p-2 flex-grow-1 bd-highlight">
      <h2> <%= t(".title") %> </h2>
    </div>
    <div class="p-2 bd-highlight">
      <%= link_to t(".new"), new_material_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="table-responsive mt-3">
    <table class="table">
      <thead class="table-light align-middle">
      <tr>
        <th scope="col"> <%= Material.human_attribute_name("name") %> </th>
        <th scope="col"> <%= t(".actions") %> </th>
      </tr>
      </thead>
      <tbody class="align-middle">
      <% @materials.each do |material| %>
        <tr id="">
          <td> <%= material.name %>  </td>
          <td>
            <div class="btn-group">
              <%= link_to "", material, class: "btn btn-outline-secondary btn-sm bi bi-eye-fill" %>
              <%= link_to "", edit_material_path(material), class: "btn btn-outline-secondary btn-sm bi bi-pencil-fill" %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>