<!DOCTYPE html>
<html>
  <head>
    <title>MuseumApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <%= link_to t('global.menu.home'), root_path %> |
      <% if user_signed_in? %>
        <%= link_to t('global.menu.profile'), edit_user_registration_path %> |
        <%= link_to t('devise.invitations.new.header'), new_user_invitation_path %> |
        <%= link_to t('global.menu.registrations_request_list'), museum_registration_requests_path %> |
        <%= link_to t('global.menu.users_list'), users_path %> |
        <%= link_to t('global.menu.museums_list'), museums_path %> |
        <%= button_to t('global.menu.log_out'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %> |
        <%= link_to t('devise.shared.links.sign_up') , new_user_registration_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
